<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">
<div class="news-administration">
    <n:includeFile path="../typo3conf/ext/news/Resources/Public/Css/Backend/administration.css"/>
    <f:flashMessages/>
    <f:render section="content"/>
</div>
</html>
