<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:if condition="{configuration.insertAbove}">
    <f:render arguments="{pagination: pagination,
    configuration:configuration}" section="paginator"/>
</f:if>

<f:renderChildren arguments="{contentArguments}"/>

<f:if condition="{configuration.insertBelow}">
    <f:render arguments="{pagination: pagination,
    configuration:configuration}" section="paginator"/>
</f:if>

<f:section name="paginator">
    <f:if condition="{pagination.numberOfPages} > 1">
        <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--scroll kt-datatable--loaded">
            <div class="kt-datatable__pager kt-datatable--paging-loaded">
                <ul class="kt-datatable__pager-nav">
                    <li>
                        <f:widget.link
                            addQueryStringMethod="GET"
                            arguments="{currentPage: 1}"
                            class="kt-datatable__pager-link
                        kt-datatable__pager-link--first
                       {f:if(condition: '{pagination.current} == 1',
                       then:'kt-datatable__pager-link--disabled')}
"
                            title="Первая"
                            useCacheHash="1">
                            <i class="flaticon2-fast-back"></i>
                        </f:widget.link>
                    </li>
                    <li>
                        <f:widget.link
                            addQueryStringMethod="GET"
                            arguments="{currentPage: pagination.previousPage}"
                            class="kt-datatable__pager-link
                        kt-datatable__pager-link--prev
                        {f:if(condition: '{pagination.current} == 1',
                        then:'kt-datatable__pager-link--disabled')}
"
                            title="Предыдущая"
                            useCacheHash="1">
                            <i class="flaticon2-back"></i>
                        </f:widget.link>
                    </li>
                    <f:if condition="{pagination.displayRangeStart} > 1">
                        <li>…</li>
                    </f:if>

                    <f:for as="page" each="{pagination.pages}">
                        <li>
                            <f:widget.link
                                addQueryStringMethod="GET"
                                arguments="{currentPage: page.number}"
                                class="kt-datatable__pager-link
                            kt-datatable__pager-link-number
                        {f:if(condition: '{page.isCurrent}',
                        then:'kt-datatable__pager-link--active')}
"
                                title="{page.number}"
                                useCacheHash="1">
                                {page.number}
                            </f:widget.link>
                        </li>
                    </f:for>
                    <f:if condition="{pagination.displayRangeEnd} < {pagination.numberOfPages}">
                        <li>…</li>
                    </f:if>
                    <li>
                        <f:widget.link
                            addQueryStringMethod="GET"
                            arguments="{currentPage: pagination.nextPage}"
                            class="kt-datatable__pager-link
                        kt-datatable__pager-link--next
                       {f:if(condition: '{pagination.current} == {pagination.numberOfPages}',
                        then:'kt-datatable__pager-link--disabled')}
"
                            title="Следующая"
                            useCacheHash="1">
                            <i class="flaticon2-next"></i>
                        </f:widget.link>
                    </li>
                    <li>
                        <f:widget.link
                            addQueryStringMethod="GET"
                            arguments="{currentPage: pagination.numberOfPages}"
                            class="kt-datatable__pager-link
                        kt-datatable__pager-link--last
                       {f:if(condition: '{pagination.current} == {pagination.numberOfPages}',
                       then:'kt-datatable__pager-link--disabled')}
"
                            title="Последняя"
                            useCacheHash="1">
                            <i class="flaticon2-fast-next"></i>
                        </f:widget.link>
                    </li>
                </ul>
                <div class="kt-datatable__pager-info">
                <span class="kt-datatable__pager-detail">
                <f:translate arguments="{0:pagination.current,
                1:pagination.numberOfPages}" key="paginate_overall"/>
                </span>
                </div>
            </div>
        </div>
    </f:if>
</f:section>
</html>
