<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Default"/>
<f:section name="Main">
    <f:cObject data="{colPos: '0'}"
               typoscriptObjectPath="lib.dynamicContent"/>
</f:section>
</html>
