<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<f:layout name="Login"/>
<f:section name="Main">
    <!-- begin:: Page -->
    <div class="kt-grid kt-grid--ver kt-grid--root">
        <div class="kt-grid__item  kt-grid__item--fluid kt-grid
        kt-grid--hor kt-login-v1" id="kt_login_v1">
            <!--begin::Item-->
            <div class="kt-grid__item">
                <!--begin::Heade-->
                <div class="kt-login-v1__head">
                    <div class="kt-login-v1__logo">
                        <f:cObject typoscriptObjectPath="lib.logo"/>
                    </div>
                    <div class="kt-login-v1__signup">
                    </div>
                </div>
                <!--begin::Head-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item  kt-grid kt-grid--ver
            kt-grid__item--fluid">
                <!--begin::Body-->
                <div class="kt-login-v1__body">
                    <!--begin::Section-->
                    <div class="kt-login-v1__section">
                        <div class="kt-login-v1__info">
                            <h3 class="kt-login-v1__intro">
                                Партнерский интерфейс системы
                                Getchips.ru
                            </h3>
                            <p>
                                Если у вас нет логина или пароля,
                                обратитесь к нашим менеджерам
                            </p>
                        </div>
                    </div>
                    <!--begin::Section-->
                    <!--begin::Separator-->
                    <div class="kt-login-v1__seaprator"></div>
                    <!--end::Separator-->
                    <!--begin::Wrapper-->
                    <div class="kt-login-v1__wrapper">
                        <div class="kt-login-v1__container">
                            <f:cObject data="{colPos: '0'}"
                                       typoscriptObjectPath="lib.dynamicContent"/>
                            <!--end::Form-->
                            <!--begin::Divider-->
                            <div class="kt-login-v1__divider">
                            </div>
                            <!--end::Divider-->
                            <!--begin::Options-->
                            <div class="kt-login-v1__options">
                            </div>
                            <!--end::Options-->
                        </div>
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--begin::Body-->
            </div>
            <!--end::Item-->
            <!--begin::Item-->
            <div class="kt-grid__item">
                <div class="kt-login-v1__footer">
                    <div class="kt-login-v1__copyright">
                        <a href="#">&copy; 2019 Getchips</a>
                    </div>
                </div>
            </div>
            <!--end::Item-->
        </div>
    </div>
    <!-- end:: Page -->
    <!-- end::Body -->
</f:section>
</html>
