<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">

<f:if condition="{settings.cssFile}">
    <n:includeFile path="{settings.cssFile}"/>
</f:if>
<f:render section="content"/>
</html>
