<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<div
    class="kt-quick-panel--right kt-demo-panel--right
    kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed
    kt-subheader--enabled kt-subheader--transparent">
    <f:render arguments="{_all}" partial="HeaderMobile.html"/>
    <!-- begin:: Root -->
    <div class="kt-grid kt-grid--hor kt-grid--root">
        <!-- begin:: Page -->
        <div class="kt-grid__item kt-grid__item--fluid kt-grid
        kt-grid--ver kt-page">
            <!-- begin:: Wrapper -->
            <div class="kt-grid__item kt-grid__item--fluid kt-grid
            kt-grid--hor kt-wrapper" id="kt_wrapper">
                <f:render arguments="{_all}" partial="HeaderOfLogin.html"/>
                <!-- begin:: Content -->
                <div class="kt-content  kt-grid__item
                kt-grid__item--fluid kt-grid kt-grid--hor"
                     id="kt_content">
                    <f:render section="Main"/>
                </div>
                <!-- end:: Content -->
            </div>
            <!-- end:: Wrapper -->
        </div>
        <!-- end:: Page -->
    </div>
    <!-- end:: Root -->
    <!-- end::Body -->
</div>
</html>
