<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">
<div class="kt-notes__item">
    <div class="kt-notes__content">
        <div class="kt-notes__section">
            <div class="kt-notes__info">
                            <span class="kt-notes__desc">

				<time datetime="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" itemprop="datePublished">
					<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
				</time>
                            </span>
                <h3>
                    <n:link newsItem="{newsItem}" settings="{settings}" title="{newsItem.title}">
                        <span itemprop="headline">{newsItem.title}</span>
                    </n:link>
                </h3>
            </div>
        </div>
    </div>
</div>
</html>
