<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<!-- begin:: Content -->
<div class="kt-content  kt-grid__item
                kt-grid__item--fluid kt-grid kt-grid--hor"
     id="kt_content">
    <f:render section="Main"/>
</div>
<!-- end:: Content -->
</html>
