<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<!-- begin:: Header Topbar -->
<div class="kt-header__topbar">
    <f:render arguments="{_all}" partial="UserBar.html"/>
</div>
<!-- end:: Header Topbar -->
</html>
