<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<!-- begin:: Header Menu -->
<button class="kt-header-menu-wrapper-close"
        id="kt_header_menu_mobile_close_btn">
    <i class="la la-close"></i>
</button>
<div class="kt-header-menu-wrapper"
     id="kt_header_menu_wrapper">
    <div class="kt-header-logo">
        <a href="/"><img alt="GetChips Logo"
                         src="typo3conf/ext/ext_plate/Resources/Public/Images/logo.gif">
        </a>
    </div>
    <div class="kt-header-menu
                             kt-header-menu-mobile
                             kt-header-menu--layout- "
         id="kt_header_menu">
        <ul class="kt-menu__nav ">
            <f:for as="mainnavigationItem" each="{mainnavigation}">
                <li aria-haspopup="true"
                    class="{f:if(condition: mainnavigationItem.active, then:'kt-menu__item--active')}
{f:if(condition: mainnavigationItem.children, then:'kt-menu__item--submenu')}
kt-menu__item kt-menu__item--rel"
                    data-ktmenu-submenu-toggle="click">
                    <f:if condition="{mainnavigationItem.children}">
                        <f:else>
                            <a class="kt-menu__link"
                               href="{mainnavigationItem.link}"
                               target="{mainnavigationItem.target}"
                               title="{mainnavigationItem.title}">
                                        <span class="kt-menu__link-text">
                                            {mainnavigationItem.title}
                                        </span>
                            </a>
                        </f:else>
                    </f:if>
                    <f:if condition="{mainnavigationItem.children}">
                        <a class="kt-menu__link
                                               kt-menu__toggle"
                           href="javascript:"
                           title="{mainnavigationItem.title}"
                        >
                                        <span class="kt-menu__link-text">
                                            {mainnavigationItem.title}
                                        </span>
                            <i class="kt-menu__hor-arrow la la-angle-down"></i>
                            <i class="kt-menu__ver-arrow la la-angle-right"></i>
                        </a>
                        <div class="kt-menu__submenu
                                             kt-menu__submenu--classic
                                              kt-menu__submenu--left">
                            <ul class="kt-menu__subnav">
                                <f:for as="child" each="{mainnavigationItem.children}">
                                    <li aria-haspopup="true"
                                        class="kt-menu__item
{f:if(condition: child.active, then:'kt-menu__item--active')}">
                                        <a class="kt-menu__link "
                                           href="{child.link}"
                                           target="{child.target}"
                                           title="{child.title}">
                                            <i class="kt-menu__link-bullet kt-menu__link-bullet--dot">
                                                                <span>
                                                                </span>
                                            </i>
                                            <span class="kt-menu__link-text">
                                                                        {child.title}
                                                            </span>
                                        </a>
                                    </li>
                                </f:for>
                            </ul>
                        </div>
                    </f:if>
                </li>
            </f:for>
        </ul>
    </div>
</div>
<!-- end:: Header Menu -->
</html>
