<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<!-- begin:: Header -->
<div class="kt-header kt-grid__item
                kt-header--fixed " id="kt_header">
    <f:render arguments="{_all}" partial="HeaderMenu.html"/>
    <f:render arguments="{_all}" partial="HeaderTopbar.html"/>
</div>
<!-- end:: Header -->
</html>
