<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
<!--begin: User Bar -->
<div class="kt-header__topbar-item kt-header__topbar-item--user">

    <div class="kt-header__topbar-wrapper"
         data-offset="0px,0px"
         data-toggle="dropdown">
        <div class="kt-header__topbar-user
                                kt-rounded">
                                    <span class="
                                    kt-header__topbar-welcome
                                    kt-hidden-mobile">
                                        Здравствуйте,</span>
            <span class="kt-header__topbar-username
                                    kt-hidden-mobile">
                                        <f:cObject
                                            typoscriptObjectPath="lib.private"/>
                                    </span>
            <img alt="User photo"
                 class="kt-rounded"
                 src="typo3conf/ext/ext_plate/Resources/Public/Images/user-profile/user-default.jpg">
        </div>
    </div>

    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right
dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-sm">
        <div class="kt-user-card kt-margin-b-40
        kt-margin-b-30-tablet-and-mobile"
             style="background-image:
			 url(/typo3conf/ext/ext_plate/Resources/Public/Images/user-profile/head_bg_sm.jpg)">
            <div class="kt-user-card__wrapper">
                <div class="kt-user-card__pic">
                    <img alt="User photo"
                         class="kt-rounded"
                         src="typo3conf/ext/ext_plate/Resources/Public/Images/user-profile/user-default.jpg">
                </div>
                <div class="kt-user-card__details">
                    <div class="kt-user-card__name">
                        <f:cObject typoscriptObjectPath="lib.private"/>
                    </div>
                </div>
            </div>
        </div>

        <ul class="kt-nav kt-margin-b-10">
            <li class="kt-nav__separator kt-nav__separator--fit"></li>
            <li class="kt-nav__custom kt-space-between">
                <f:cObject typoscriptObjectPath="lib.logout"/>
            </li>
        </ul>
    </div>
</div>
<!--end: User Bar -->
</html>
