<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
>

<f:layout name="Detail"/>
<f:section name="content">
    <f:if condition="{newsItem}">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        {newsItem.title}
                        <small>{newsItem.teaser}</small>
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div class="kt-portlet__content">
                    <f:format.html>{newsItem.bodytext}</f:format.html>
                </div>
            </div>
            <div class="kt-portlet__foot">
                <div class="row">
                    <div class="col-6 kt-align-left">
                        <f:link.page pageUid="{settings.backPid}">
                            <f:translate key="back-link"/>
                        </f:link.page>
                    </div>
                    <div class="col-6 kt-align-right">
                        <f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
                    </div>
                </div>
            </div>
        </div>
    </f:if>
</f:section>
</html>
