<html data-namespace-typo3-fluid="true" lang="ru"
      xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers">
<f:layout name="General"/>
<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">
                    Новости
                </h3>
            </div>
        </div>
        <div class="kt-portlet__body">

            <f:if condition="{news}">
                <f:else>
                    <div class="no-news-found">
                        <f:translate key="list_nonewsfound"/>
                    </div>
                </f:else>
                <f:then>
                    <div class="kt-notes">
                        <div class="kt-notes__items">
                            <f:if
                                condition="{settings.hidePagination}">
                                <f:then>
                                    <f:for as="newsItem" each="{news}"
                                           iteration="iterator">
                                        <f:render
                                            arguments="{newsItem: newsItem,
                            settings:settings,iterator:iterator}"
                                            partial="List/Item"/>
                                    </f:for>
                                </f:then>
                                <f:else>
                                    <n:widget.paginate
                                        as="paginatedNews"
                                        configuration="{settings.list.paginate}"
                                        initial="{offset:settings.offset,
                        limit:settings.limit,
                        recordId:contentObjectData.uid}"
                                        objects="{news}"
                                    >
                                        <f:for as="newsItem"
                                               each="{paginatedNews}"
                                               iteration="iterator">
                                            <f:render
                                                arguments="{newsItem: newsItem,
                                settings:settings,iterator:iterator}"
                                                partial="List/Item"/>
                                        </f:for>
                                    </n:widget.paginate>
                                </f:else>
                            </f:if>
                        </div>
                    </div>
                </f:then>
            </f:if>
        </div>
    </div>
    <!--TYPO3SEARCH_begin-->
</f:section>
</html>
